body {
    background-color: blueviolet;
}

.board { 
    display:grid; 
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    width: 320px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    background-color: #eee;
}